# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Docker files
*.tar

# System files
.DS_Store

# VSCode settings
.vscode/

# Flask secret keys
instance/

# Logs
*.log
.terraform/

# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup
.terraform/

